
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}

body {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #000;
  color: #fff;
}

#theme-toggle {
  position: fixed;

  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
